* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0px auto;
    background-color: #eee;
    background-color: orangered;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// header start 
header {
    .container {
        .row {
            .main {
                border-bottom: 1px solid white;
                padding: 20px 35px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .logo {
                    i {
                        color: white;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }

                .menu {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .create-eve,
                    .event-type {
                        padding: 0px 5px;

                        button {
                            border: 0px;
                            text-transform: capitalize;
                            padding: 10px 15px;
                            border-radius: 15px;
                            color: orangered;
                            font-weight: 600;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

// header end

// home-section start  
.home-section {
    .container {
        .row {
            .main {
                min-height: 90vh;
                padding: 20px 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .title {
                    h2 {
                        font-size: 80px;
                        color: white;
                        text-decoration: underline;
                    }

                    p {
                        text-align: center;
                        color: white;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

// home-section end

// event-type-section start 
.event-type-section {

    .container {
        .row {
            .main {
                min-height: 90vh;
                padding: 60px 35px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                cursor: pointer;

                .box {
                    width: 20%;
                    height: 170px;
                    background-color: white;
                    border-radius: 12px;
                    padding: 20px;

                    .content {
                        .icon {
                            display: flex;
                            justify-content: center;

                            img {
                                width: 90px;
                            }
                        }
                    }

                    .title {
                        h3 {
                            text-align: center;
                            padding-top: 15px;
                            text-transform: capitalize;
                            color: orangered;
                        }
                    }
                }
            }
        }
    }
}

// event-type-section end

// add-event section start
.add-event-section {
    .container {
        .row {
            .main {
                min-height: 90vh;
                padding: 60px 35px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                cursor: pointer;

                .add-event {
                    width: 80%;
                    margin: 0px auto;
                    .form {
                        form {
                            .title {
                                padding: 10px 0px;
                                input {
                                    padding: 15px ;
                                    color: orangered;
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    border-radius: 12px;
                                    border: 0;
                                    width: 100%;

                                    &::placeholder {
                                        color: gray;
                                    }
                                }
                            }

                            .description {
                                padding: 10px 0px;
                                input {
                                    padding: 15px ;
                                    color: orangered;
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    border-radius: 12px;
                                    border: 0;
                                    width: 100%;

                                    &::placeholder {
                                        color: gray;
                                    }
                                }
                            }

                            .date {
                                padding: 10px 0px;
                                input {
                                    padding: 15px ;
                                    color: orangered;
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    border-radius: 12px;
                                    border: 0;
                                    width: 100%;

                                    &::placeholder {
                                        color: gray;
                                    }
                                }
                            }

                            .location {
                                padding: 10px 0px;
                                input {
                                    padding: 15px ;
                                    color: orangered;
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    border-radius: 12px;
                                    border: 0;
                                    width: 100%;

                                    &::placeholder {
                                        color: gray;
                                    }
                                }
                            }

                            .attendees {
                                padding: 10px 0px;
                                input {
                                    padding: 15px ;
                                    color: orangered;
                                    font-size: 18px;
                                    font-weight: 600;
                                    outline: none;
                                    border-radius: 12px;
                                    border: 0;
                                    width: 100%;

                                    &::placeholder {
                                        color: gray;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// add-event section end